<!DOCTYPE html>
<html>
<head>
    <title>URL Scanner</title>
    <link rel="stylesheet" href="/static/style.css">

    {% if unsafe %}
    <script>
        alert("⚠️ WARNING!\nThis URL is UNSAFE / SPAM!\nYou will be logged out.");
        window.location.href = "/";
    </script>
    {% endif %}
</head>

<body>
<div class="login-box">
    <h2>URL Scanner</h2>

    <form method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Scan</button>
    </form>

    {% if result and not unsafe %}
        <h3 style="color:green;">
            ✅ This URL is SAFE
        </h3>
    {% endif %}

    <a href="/logout">Logout</a>
</div>
</body>
</html>
